body{
    font-family: "Inter", sans-serif; 
}

/* nav */
#nav-container{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
}

#nav-items{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-right: 15px;
}

#nav-items a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* end nav */

#home-article{
    display: flex;
    width: 100%;
    justify-content: center;
}

#home-article article{
    width: 50%;
}

#home-article figure{
    width: 50%;
}

#home-article figure img{
    width: 100%;
}

.bg-red{
    background-color: rgb(206, 46, 46);
}
.bg-blue{
    background-color: rgb(46, 115, 206);
}

/* text styling */
.pad-2{
    padding: 10px;
}

.mt-110{
    margin-top: 110px;
}

.ms-40{
    margin-left: 40px;
}

.text-white{
    color: white;
}

.fw-bold{
    font-weight: bold;
}

.border-radius{
    border-radius: 10px;
    border: none;
}

.shadow{
    box-shadow: 2px 2px 4px grey;
}

.decoration-none{
    text-decoration: none;
    color: black;
}

/* end styling */

#our-product{
    margin-top: 20px;
}

#product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 200px;
    box-shadow: 2px 2px 5px grey;
    overflow: hidden;
}

.card .card-img{
    width: 100%;
}
.card .card-img img {
    width: 100%;
}

.card section{
    padding: 10px;
}

.detail-img figure {
    height: 500px;
    display: flex;
    justify-content: center;
    scale: 0.7;
}

.detail-img figure img {
    width: fit-content;
    height: 100%;
}